.btn--split {
  overflow: hidden;
  display: inline-block;

  .word {
    position: relative;
    .char {
      display: inline-block;
      transform: translateY(100%);
      transition: all 1s cubic-bezier(0, 0.97, 0.43, 1)
        calc(200ms * var(--char-index) / var(--char-total));
    }
    .full-text {
      position: absolute;
      left: 0;
      transform: translateY(0);
      transition: all 1s cubic-bezier(0, 0.97, 0.43, 1);
    }
  }

  &:hover .word .char {
    color: #2b2727;
    transform: translateY(0);
    transition: all 1s cubic-bezier(0, 0.97, 0.43, 1)
      calc(200ms * var(--char-index) / var(--char-total));
  }

  &:hover .word .full-text {
    transform: translateY(-100%);
    transition: all 1s cubic-bezier(0, 0.97, 0.43, 1);
  }
}
