.page-loader {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  height: 100%;
  background: #2b2727;
  display: flex;
  align-items: center;
  justify-content: center;

  animation: loader 0.7s linear;
  animation-delay: 0.3s;

  .loader-arrow {
    animation: arrowAnimate 2s linear infinite;
  }
  @keyframes arrowAnimate {
    0% {
      transform: rotate(0);
    }
    100% {
      transform: rotate(359deg);
    }
  }

  @keyframes loader {
    0% {
      transform: translate(0, 0);
    }

    100% {
      transform: translate(0, -100vh);
    }
  }
}
